/* ABOUT  */
.about_left{
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    // background: pink;
}

.about_right{
    float: right;
    text-align:right;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    // background: pink;
}

.about_image{
    display: inline-block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    // margin: 5px;
    background: orange;
}