.white{
    color: var(--white1);
}
.white_bg{
    background: var(--white1);
}

.lightblack{
    color: var(--lightblack1);
}
.lightblack_bg{
    background: var(--lightblack1);
}

.darkblack{
    color: var(--darkblack1)
}
.darkblack_bg{
    background: var(--darkblack1);
}

.turquoise{
    color: var(--turquoise1);
}
.turquoise_bg{
    background: var(--turquoise1);
}

.darkgrey{
    color: var(--darkgrey1);
}
.darkgrey_bg{
    background: var(--darkgrey1);
}

.form_title_color{
    color: var(--form_title_color);
}
.form_text_color{
    color: var(--form_title_color);
}
