/* GET IN TOUCH */
.touch_left{
    float: left;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.touch_right{
    float: right;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

