.clean-list {
  list-style: none;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* Breakpoint mixins */

@mixin for-mobile-only {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

/*----------  Flex Helpers  ----------*/

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}


