/* MAIN MEME */

.main_container{
    overflow: hidden;
    width: 100%;
}

.memes_container{
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    // background: pink;
}

.meme_div{
    display: inline-block;
    // width: 100%;
    width: 20%;
    max-height: 140px;
    min-height: 50px;
    margin: 10px;
    background: url(../assets/send-icon.png) center;
    background-size: 100% 100%;
}

.keywords_rating{
    width: 25%;
    overflow: hidden;
    line-height: 1.8em;
    text-align: justify;

    // background: purple;
}