/* MAIN MEME */
.main_container{
    overflow: hidden;
    width: 100%;
}

.memes_container{
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    // background: pink;
}

.meme_div{
    display: inline-block;
    // width: 100%;
    width: 20%;
    max-height: 140px;
    min-height: 50px;
    margin: 10px;
    // background: url(../assets/send-icon.png) center;
    background-size: 100% 100%;
}

.keywords_rating{
    width: 25%;
    overflow: hidden;
    line-height: 1.8em;
    text-align: justify;
}

.img1{
    background: url(../assets/img1.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer; 
}

.img2{
    background: url(../assets/img2.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer; 
}

.img3{
    background: url(../assets/img3.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer; 
}

.img4{
    background: url(../assets/img4.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer; 
}

.img5{
    background: url(../assets/img5.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer; 
}

.img6{
    background: url(../assets/img6.jpg) center no-repeat;
    background-size: cover;
    cursor: pointer; 
}

.img7{
    background: url(../assets/img7.jpg) center no-repeat;
    background-size: cover; 
    cursor: pointer;
}

.img8{
    background: url(../assets/img8.jpg) center no-repeat;
    background-size: cover; 
    cursor: pointer;
    // transition: all 0.5s;
}

// .img1:hover, img2:hover, img3:hover, img4:hover, img5:hover, img6:hover, img7:hover, img8:hover{
// }