$container_width: 100%;
$mobile_breakpoint: 642px;

:root {
  /* Layout */
  --container_width: $container-width;
  --inner_container_width: 980px;

  /* Fonts */
  --primary_font: Playfair;
  --secondary_font: Ubuntu;
  
  /* Colors */
  --main_color: #626262;
  --sections_bg: #f0f0f0;
  --white1: #ffffff;
  --lightblack1: #323232;
  --darkblack1: #222222;
  --turquoise1: #2eb398;
  --darkgrey1: #454545;
}


